/* CSS coolors template */
--papaya-whip: #fff1d6ff;
--buff: #ecbd83ff;
--lion: #b6967cff;
--tawny: #c6612fff;
--burnt-umber: #9a301dff;

/* Apply styles to the entire page */
body {
    font-size: 22px; /* Set font size for the entire page */
    font-family: Arial, Helvetica, sans-serif; /* Specify font family */
    line-height: 1.5;
    background-color: papayawhip; /* Set background color */
}

/* Styling for navigation */
.nav {
    background-color: #ecbd83ff; /* Set background color */
    color: rgb(0, 0, 0); /* Set text color */
    padding: 5px; 
    margin: 10px; 
}

/* Styling for header */
.header {
    margin: 1em; /* Set margin */
    text-align: center; /* Center-align text */
    list-style: none; /* Remove default list style */
    font-style: italic; /* Apply italic font style */
    text-decoration: underline; /* Apply underline decoration */
    outline: 3px dashed; /* Add dashed outline */
    outline-offset: -1px; /* Offset the outline */
}

.header ul {
    text-align: center; 
    list-style: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
}

/* Styling for h2 elements */
h2 {
    text-align: center; 
    text-decoration: underline; /* Apply underline decoration */
}

/* Styling for links */
a {
    color: #9a301dff; /* Set link color */
}

a:visited {
    color: rgba(154, 48, 29, 0.555); /* Set visited link color */
}

a:hover, a:focus {
    color: hsl(207, 44%, 49% 0.8%); /* Set link color on hover or focus */
}

a:active {
    color: #b6967cff; /* Set link color on active state */
}

/* Styling for tables */
.table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Specify font family */
    padding: 0.5rem; /* Add padding */
    outline: 2px solid; /* Add solid outline */
    outline-offset: -1px; /* Offset the outline */
    width: 100%; /* Set width */
    outline: 2px solid #9a301dff; /* Set outline color */
    outline-offset: -3px; /* Offset the outline */
}

.table th {
    background-color: #ecbd83ff; /* Set background color for table header */
    border: 2px solid; /* Add solid border */
    padding: 8px; /* Add padding */
    text-align: center; /* Center-align text */
}

.table tr {
    border: 2px solid; /* Add solid border */
}

.table td {
    padding: 8px; /* Add padding */
    border: 2px solid; /* Add solid border */
}

.table caption {
    outline: 2px solid; /* Add solid outline */
    background-color: #b6967cff; /* Set background color for table caption */
    font-size: 1.2em; /* Set font size */
    font-weight: bold; /* Apply bold font weight */
    text-align: center; /* Center-align text */
}

/* Styling for images */
.image {
    display: block; /* Display as block element */
    margin: auto; /* Center-align horizontally */
    padding: auto; /* Center-align vertically */
    border: 4px dashed; /* Add dashed border */
    border-radius: 20px; /* Apply border radius */
}

/* Styling for figure captions */
figcaption {
    text-align: center; /* Center-align text */
}

/* Styling for form fieldsets */
form fieldset {
    text-align: center; /* Center-align text */
}

/* Styling for footer */
footer {
    text-align: center; /* Center-align text */
    background-color: #ecbd83ff; /* Set background color */
    color: rgb(0, 0, 0); /* Set text color */
    padding: 1px; /* Add padding */
    margin: 1em; /* Add margin */
}

/* Styling for the table */
.palette {
    border: solid;
    margin: 0 auto; /* Center the table horizontally */
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow to the table */
    color: #333; /* Set text color */
}

/* Styling for the table cells (pillars) */
.palette td {
    border: solid;
    padding: 35px; /* Add padding */
    border-width: 2px; /* Adjust the width of the dashed margin border */
    border-radius: 25px;
}

.pillar1 {
    background-color: #fff1d6ff; /* background color for pillar 1 */
}

.pillar2 {
    background-color: #ecbd83ff; /* background color for pillar 2 */
}

.pillar3 {
    background-color: #b6967cff; /* background color for pillar 3 */
}

.pillar4 {
    background-color: #c6612fff; /* background color for pillar 4 */
}

.pillar5 {
    background-color: #9a301dff; /* background color for pillar 5 */
}
